{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <h1>Recipe list</h1>
    <a href="{% url 'recipe_create' %}">Add new Recipe</a>
    <ul>
        {% for recipe in recipes %}
            <li>
                <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.title }}</a>
            </li>
        {% empty %}
            <p>No recipes available.</p>
        {% endfor %}
    </ul>
    
</body>
</html>