<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if recipe %}Edit Recipe{% else %}Add New Recipe{% endif %}</title>
</head>
<body>
    <h1>{% if recipe %}Edit Recipe{% else %}Add New Recipe{% endif %}</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>

    </form>
    <a href="{% url 'recipe_list' %}">Back to Recipe</a>
    
</body>
</html>