{% extends 'recipes/base.html' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<h1>{{ recipe.title }}</h1>
<p><strong>Description: </strong>{{ recipe.description|safe }}</p>
<p><strong>Ingredients: </strong>{{ recipe.ingredients|safe }}</p>
<p><strong>Instructions: </strong>{{ recipe.instructions|safe }}</p>

<a href="{% url 'recipe_update' recipe.slug %}">Edit</a>
<a href="{% url 'recipe_delete' recipe.slug %}">Delete</a>
<a href="{% url 'recipe_list' %}">Back to Recipe List</a>
{% endblock %}
